.searchBar {
    padding-top: 80px;
    height: 225px;
}

#searchForm{
    display: flex;
    margin: auto;
    margin-top: 35px;
    width: 80%;
    padding: 35px;
    border-radius: 10px;
    border: 2px solid #504545;
    box-shadow: 0px 0px 5px #5045452c;
    font-family: "Raleway", sans-serif;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}

#searchBox{
    border: none;
    border-bottom: 1px solid #504545;
    width: 50%;
    font-family: "Raleway", sans-serif;
    font-size: inherit;
    outline: none;
}

#topicBox{
    border: none;
    width: 20%;
    border-bottom: 1px solid #504545;
    font-family: "Raleway", sans-serif;
    font-size: inherit;
    outline: none;
}

#submit{
        border: none;
    background-color: transparent;
    border: none;
    height: 40px;
    width: 40px;
}

#submit:hover{
    cursor: pointer;
}

#submit img{
    height: 40px;
    width: 40px;
}

.announcements {
    padding-top: 10px;
}

.title{
    padding-left: 5%;
    padding-right: 20px;
    font-family: "Sarabun", sans-serif;
    padding-top: 10px;
    font-size: 25px;
    text-underline-position: below;
    text-underline-offset: 15px;
    text-decoration: underline;
}

.conveyorAnn{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
    padding-bottom: 5px;
}

.box1_ann{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    height: 150px;
    border-radius: 10px;
    border: 2px solid #504545;
    box-shadow: 0px 0px 5px #5045452c;
}

#box1_img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 175px;
    width: 100%;
    overflow: hidden;
}

#box1_img img{
    object-fit: cover;
    object-position: 50% 50%;
    height: 175px;
    width: 100%;
}

#box1_dec{
    margin-top: 7.5px;
    margin-left: 15px;
    margin-right: 15px;
    height: 100px;
    font-family: "Sarabun", sans-serif;
}

#box1_dec h5{
    color: black;
    font-size: 30px;
    transition: color ease 200ms;
}

#box1_dec h5:hover{
    cursor: pointer;
    color: rgb(146, 124, 0);
}


#box1_dec p{
    font-size: 15px;
}
